<div id="section-{{ section.id }}" class="page-width page-width-desktop img-text-card">
    <div class="content-wrapper" style="flex-direction:{% if section.settings.flexDirection == '0' %}row{% else %}row-reverse{% endif %}">
      <div>
        <img src="{{ section.settings.image | image_url }}" width="684" height="800" alt="Image" />
      </div>
      <div class="text-content">
        {% if section.settings.heading %}
          <h2 class="main-heading">{{ section.settings.heading }}</h2>
        {% endif %}
        {% for block in section.blocks %}
          <div class="block" id="block-{{ block.id }}">
            {% if block.settings.heading %}
              <h3>{{ block.settings.heading }}</h3>
            {% endif %}
            <p>{{ block.settings.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
</div>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    margin: 4px 0;
    max-height: 800px;
  }
  .content-wrapper .main-heading{
    font-family: Lora;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    text-align: left;
    margin:0;
  }

  .content-wrapper .text-content {
    width: 50%;
  }
  .content-wrapper .text-content h3,
  .content-wrapper .text-content p{
    padding: 0;
    margin: 0;
  }
  .content-wrapper .text-content h3{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  .content-wrapper .text-content p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .content-wrapper img{
    width: 100%;
    gap: 0px;
    border-radius: 24px;
  }
  .content-wrapper .text-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    background: rgba(244, 240, 234, 1);
    padding: 32px;
    border-radius: 24px;
  }
</style>

{% schema %}
{
  "name": "Image With Text Card",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Enter your section heading here"
    },
    {
      "type": "select",
      "id": "flexDirection",
      "label": "Image Position",
      "options": [
        { "value": "0", "label": "Image Left" },
        { "value": "1", "label": "Image Right" }
      ],
      "default": "0"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
  ],
  "blocks": [
    {
      "type": "heading_content_block",
      "name": "Heading and Content Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Block Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Block Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text Card",
      "category": "New Section"
    }
  ]
}
{% endschema %}
