<div id="section-{{ section.id }}" class="page-width page-width-desktop img-text-card">
  {% if section.settings.heading %}
    <h2>{{ section.settings.heading }}</h2>
  {% endif %}
  <div>
    <div class="content-wrapper">
      <img src="https://s3-alpha-sig.figma.com/img/4d8e/5d79/6a0120a1c79d0e02cf945647321f2c41?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SFX5d20U~P8ULJx0Lz7H95zHtPF7p4Vd4-mWrhld8K8TcUUswA8PBbfOSmnXO0fytGUuO~~~MuYBX-Xi5KYpU~o2pq-chhidRXGDUI5BrXSRhKY6PRoV4xlXEvmiwoCR0mzyihneYiKRkHuWNtOlvVFUV0JTPTp20XuTcQLW8g5LSLrHMBjXIf0VQLxdfXRjd5Nv7H3YiPpFZl~7M~s1c7NdoQj9qz5j28xVmI2gvVixybEoMtyxM5pPGGayUJ2ALp~FBY~pJVDxHcm8xwhnKBiIKvzvbQIqF1Y~QC0NPsp4o8Cxv-sZN15f0QWAPWWk7HKSRJUuuZH95XQrJANUsA__" alt="Image" />
      
      <div class="text-content">
        {% for block in section.blocks %}
          <div class="block" id="block-{{ block.id }}">
            {% if block.settings.heading %}
              <h3>{{ block.settings.heading }}</h3>
            {% endif %}
            <p>{{ block.settings.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    margin: 32px 0;
  }
  .content-wrapper img,
  .content-wrapper .text-content {
    width: 50%;
  }
  .content-wrapper .text-content h3,
  .content-wrapper .text-content p{
    padding: 0;
    margin: 0;
  }
  .content-wrapper img{
    max-width: 684px;
    max-height: 800px;
    gap: 0px;
    border-radius: 24px;
  }
  .content-wrapper .text-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 24px;
    background: rgba(244, 240, 234, 1);
    padding: 32px;
    border-radius: 24px;
  }
</style>

{% schema %}
{
  "name": "Image With Text Card",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Enter your section heading here"
    }
  ],
  "blocks": [
    {
      "type": "heading_content_block",
      "name": "Heading and Content Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Block Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Block Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text Card",
      "category": "New Section"
    }
  ]
}
{% endschema %}
